*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#111;
    color:#fff;

    height:100vh;

    display:flex;
    flex-direction:column;
    align-items:center;

    overflow:hidden;

    padding:10px;
}

#hud{
    width:95vw;
    max-width:420px;

    display:flex;
    gap:10px;

    margin-bottom:10px;
}

.card{
    flex:1;

    background:#222;

    border-radius:16px;

    padding:12px;

    text-align:center;

    font-size:22px;
    font-weight:bold;
}

#gameArea{
    position:relative;

    width:95vw;
    max-width:420px;

    height:calc(100vh - 250px);

    background:linear-gradient(
        to bottom,
        #45a049,
        #2e7d32
    );

    border:4px solid #555;
    border-radius:20px;

    overflow:hidden;
}

#player{
    position:absolute;

    width:42px;
    height:42px;

    background:#ffd54f;

    border-radius:50%;

    border:3px solid #ffb300;

    box-shadow:0 0 10px rgba(255,255,255,.3);
}

#coin{
    position:absolute;

    width:40px;
    height:40px;

    font-size:32px;

    display:flex;
    justify-content:center;
    align-items:center;
}

#controls{
    margin-top:12px;

    display:flex;
    flex-direction:column;
    align-items:center;

    gap:8px;
}

.middle{
    display:flex;
    gap:12px;
}

#controls button{

    width:65px;
    height:65px;

    border:none;

    border-radius:50%;

    background:#2d2d2d;

    color:white;

    font-size:22px;

    box-shadow:0 4px 10px rgba(0,0,0,.4);

    cursor:pointer;
}

#controls button:active{
    transform:scale(.95);
}

#gameOver{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,.95);

    display:none;

    flex-direction:column;
    justify-content:center;
    align-items:center;

    gap:20px;

    z-index:9999;
}

#gameOver.show{
    display:flex;
}

#gameOver h1{
    font-size:42px;
}

#gameOver p{
    font-size:24px;
}

#finalScore{
    color:gold;
    font-weight:bold;
}

#restartBtn{

    width:180px;
    height:55px;

    border:none;

    border-radius:12px;

    font-size:20px;

    cursor:pointer;
}
